.profile {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  margin-top: 30px;
}

.profile__user-info--wrapper {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.profile__avatar-info {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  max-width: 585px;
}

.profile__user-avatar--container .user-profile-photo__image {
  min-width: 300px;
  max-height: 300px;
  border-radius: 15px;
  border: 2px solid var(--primary-accent-color);
}

.profile__user-name {
  font-size: 20px;
}

.profile__user-social-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.profile__user-gallery {
  max-width: 585px;
  width: 100%;
}

.profile__user-about--wrapper {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.profile__user-about {
  max-width: 585px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile__user-about--title {
  font-size: 36px;
}

.profile__user-about--content {
  text-align: justify;
  line-height: 1.8;
}

.profile__user-posts {
  max-width: 585px;
  width: 100%;
}

@media (max-width: 1000px) {
  .profile__user-info--wrapper {
    flex-direction: column;
    align-items: center;
  }

  .profile__user-about--wrapper {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .profile__avatar-info {
    flex-direction: column;
    width: 100%;
  }

  .profile__user-avatar--container {
    width: 100%;
  }

  .profile__user-avatar--container .user-profile-photo__image {
    width: 100%;
  }
}
