.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post__header {
  width: 100%;
  display: flex;
  gap: 10px;
  position: relative;
}

.post__avatar-containter .user-profile-photo__image {
  min-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  border: 2px solid var(--primary-accent-color);
  z-index: 0;
}

.post__user-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 155px;
  gap: 5px;
}

.post__header-line {
  width: 98%;
  border: 1px solid var(--primary-accent-color);
  position: absolute;
  left: 10px;
  bottom: 15px;
  z-index: -1;
}

.post__content {
  text-align: justify;
  line-height: 1.5;
}

.post__likes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.like-img {
  width: 30px;
  height: 30px;
}

.post__button-next-comments {
  text-decoration: none;
  color: inherit;
  align-self: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

.post__button-next-comments:hover {
  text-decoration: underline;
}

.post__write-comment {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post__input-comment {
  padding: 10px;
  min-height: 100px;
  border: 0;
  border-radius: 10px;
  background-color: var(--primary-input-color);
  color: var(--primary-accent-color);
  font-family: inherit;
  font-size: 18px;
  width: 100%;
  resize: none;
}

.post__write-comment .button {
  align-self: flex-end;
}
