* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #262626;
  --primary-accent-color: #fff;
  --primary-input-color: #484848;
  --primary-placeholder-color: #bebebe;
}

body {
  background-color: var(--primary-color);
  padding: 0 120px 0 120px;
  font-family: "JetBrains Mono", serif;
  font-weight: 400;
  color: var(--primary-accent-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  body {
    padding: 0 30px 0 30px;
  }
}

.page__title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 50px;
}
